In [1]:
import pandas as pd
import spacy
import re
import sqlite3

con = sqlite3.connect("dataset.db")
cur = con.cursor()

In [2]:
nlp = spacy.load("en_core_web_sm")

def preprocess_text(txt:str):
    txt = re.sub('[^a-zA-Z]', ' ', txt) 
    txt = txt.lower()
    txt = " ".join(txt.split()) 
    
    doc = nlp(txt)
    
    tokens_filtered = []
    # Iterate through tokens and append to list if its not stop word or punctuation mark
    for token in doc:
        if token.is_stop or token.is_punct:
            continue
        tokens_filtered.append(token.lemma_)
        
    return " ".join(tokens_filtered)

In [8]:
# Load data
df = pd.read_csv('df_file.csv')
df['Text'] = df['Text'].apply(lambda x:x.replace('\n',''))

df.drop_duplicates(ignore_index = True, inplace=True)

df['prep_text'] = df['Text'].apply(preprocess_text)
print("Preprocessing done")

df.head()
len(df)

TypeError: 'tuple' object is not callable

TypeError: 'tuple' object is not callable

In [4]:
cur.execute("""
CREATE TABLE IF NOT EXISTS Dataset(
    text TEXT,
    prep_text TEXT,
    label ITEGER
)
""")

In [5]:
articles = []

# Arranging a tuple of values to be inserted into the database in this order:
# unprocessed text, preprocessed text, label
for index, row in df.iterrows():
    articles.append((row["Text"], row["prep_text"], row["Label"]))

cur.executemany("INSERT INTO Dataset VALUES(?, ?, ?)", articles)
con.commit()

print("Done")

Done

In [6]:
df.shape()

6381