In [2]:
import pandas as pd
import spacy
import re
import sqlite3

con = sqlite3.connect("dataset.db")
cur = con.cursor()

In [3]:
nlp = spacy.load("en_core_web_sm")

def preprocess_text(txt:str):
    txt = re.sub('[^a-zA-Z]', ' ', txt) 
    txt = txt.lower()
    txt = " ".join(txt.split()) 
    
    doc = nlp(txt)
    
    tokens_filtered = []
    # Iterate through tokens and append to list if its not stop word or punctuation mark
    for token in doc:
        if token.is_stop or token.is_punct:
            continue
        tokens_filtered.append(token.lemma_)
        
    return " ".join(tokens_filtered)

In [4]:
# Load data
df = pd.read_csv('df_file.csv')
df['Text'] = df['Text'].apply(lambda x:x.replace('\n',''))

df.drop_duplicates(ignore_index = True, inplace=True)

df['prep_text'] = df['Text'].apply(preprocess_text)
print("Preprocessing done")

df.head()

Preprocessing done

,Text,Label,prep_text
0,Budget to set scene for election Gordon Brown...,0,budget set scene election gordon brown seek ec...
1,Army chiefs in regiments decision Military ch...,0,army chief regiment decision military chief ex...
2,Howard denies split over ID cards Michael How...,0,howard deny split d card michael howard deny s...
3,Observers to monitor UK election Ministers wi...,0,observer monitor uk election minister invite i...
4,Kilroy names election seat target Ex-chat sho...,0,kilroy name election seat target ex chat host ...

In [5]:
cur.execute("""
CREATE TABLE IF NOT EXISTS Dataset(
    text TEXT,
    prep_text TEXT,
    label ITEGER
)
""")

In [6]:
articles = []

for index, row in df.iterrows():
    articles.append((row["Text"], row["prep_text"], row["Label"]))

cur.executemany("INSERT INTO Dataset VALUES(?, ?, ?)", articles)
con.commit()

print("Done")

ProgrammingError: Error binding parameter 1: type 'Series' is not supported